#################################
# PYTHON
#################################
__pycache__/
*.pyc
*.pyo
*.pyd

#################################
# VIRTUAL ENVIRONMENTS
#################################
venv/
env/
ENV/
.venv/

#################################
# DATA FILES (DO NOT TRACK)
#################################
data/embeddings/
data/*.csv

#################################
# FAISS INDEX
#################################
*.bin

#################################
# OS FILES
#################################
.DS_Store
Thumbs.db

#################################
# VS CODE
#################################
.vscode/
settings.json

#################################
# LOG FILES
#################################
*.log
